fastapi==0.128.0
sqlmodel==0.0.31
uvicorn[standard]==0.40.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
alembic==1.18.3
passlib==1.7.4
bcrypt==4.0.1
PyJWT==2.11.0
python-multipart==0.0.6
httpx==0.28.1
redis==5.0.1